---
---

<div>
  <p class="mb-5">
    Desde que descubrí mi interés por el desarrollo web, he estado enfocado en
    adquirir habilidades y conocimientos para poder crear aplicaciones web
    atractivas y funcionales. He aprendido a utilizar tecnologías como HTML,
    CSS, JavaScript, TypeScript, React y Node.js para construir aplicaciones web
    que sean efectivas y estén alineadas con las necesidades del usuario.
  </p>
  <p class="mb-5">
    Además de haber aportado mis conocimientos y experiencia en el mundo laboral, he trabajado en proyectos personales
    para aprender y consolidar dicha experiencia. Me enorgullece haber adquirido
    habilidades en la solución de problemas y en la resolución de desafíos
    técnicos.
  </p>
  <p class="mb-5">
    Estoy entusiasmado por seguir aprendiendo y desarrollando mi carrera en el
    desarrollo web Javascript. Cuando no estoy trabajando, me gusta seguir
    aprendiendo y experimentando con nuevas tecnologías (por ejemplo Astro,
    framework que utiliza esta web 😄) para mejorar mis habilidades técnicas.
  </p>
  <p class="mb-5">
    Estoy emocionado por lo que el futuro me depara como desarrollador web
    Javascript, y estoy comprometido a seguir mejorando mis habilidades y
    conocimientos.
  </p>
</div>
