---
import Section from "./Section.astro";
---

<Section
  id="about"
  class="w-full h-screen bg-opacity-50 bg-gray-500 text-white"
>
  <div
    class="max-w-screen-lg p-4 mx-auto flex flex-col justify-center w-full h-full"
  >
    <div class="pb-8">
      <p class="text-4xl font-bold inline border-b-4 border-white">About</p>
    </div>
    <p class="text-xl mt-20">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod aspernatur
      explicabo ea odit, facilis fuga id quibusdam natus at temporibus, earum
      doloremque. Nisi dolor dolore dolorem voluptatem ab accusamus voluptate!
      Eum numquam asperiores, fugit dignissimos reprehenderit, quas saepe
      deserunt error et nihil placeat in impedit esse ut alias aut! Iste.
    </p>
    <br />
    <p class="text-xl">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi perferendis
      sit cum ratione alias incidunt velit repudiandae quaerat, expedita,
      officia magni nihil architecto maiores perspiciatis assumenda doloribus
      rem laboriosam similique commodi vitae, ex veniam iusto! At corrupti illum
      neque, odio porro quasi laborum voluptate aliquid ratione, in maxime sequi
      unde.
    </p>
  </div>
</Section>
