---
---

<section id="contact" class="w-full h-screen p-4 text-gray-500">
  <div class="flex flex-col p-4 justify-center max-w-screen-lg mx-auto h-full">
    <div class="pb-8">
      <p class="text-4xl font-bold inline border-b-4 border-gray-500">
        Contacto
      </p>
      <p class="py-6 font-bold">
        Rellena el siguiente formulario para ponerte en contacto conmigo.
      </p>
    </div>

    <div class="flex justify-center items-center">
      <form id="contact-form" class="flex flex-col w-full md:w-1/2">
        <input
          type="text"
          name="name"
          required
          placeholder="Introduce tu nombre"
          class="p-2 bg-white/50 border-2 rounded-md text-gray-500 focus:outline-none"
        />

        <input
          type="email"
          name="email"
          required
          placeholder="Introduce tu email"
          class="my-4 p-2 bg-white/50 border-2 rounded-md text-gray-500 focus:outline-none"
        />

        <textarea
          name="message"
          id="contact-message"
          placeholder="Escribe un mensaje"
          required
          rows="10"
          class="p-2 bg-white/50 border-2 rounded-md text-gray-500 focus:outline-none"
        ></textarea>

        <button
          id="submit-btn"
          class="text-white bg-gradient-to-r from-gray-500 to-gray-600 px-6 py-3 my-8 mx-auto flex items-center rounded-md hover:scale-110 duration-300"
          >Enviar</button
        >
      </form>
    </div>
  </div>
</section>

<script>
  const form = document.getElementById("contact-form") as HTMLFormElement;
  const submitBtn = document.getElementById("submit-btn");
  const onSubmit = (e) => {
    e.preventDefault();
    submitBtn.innerHTML = "Enviando...";
    const formData = new FormData(form);

    fetch("https://getform.io/f/21ef55d0-444d-47a5-9a90-5261e08e828d", {
      method: "POST",
      body: formData,
    })
      .then((response) => (submitBtn.innerHTML = "¡Enviado ✅!"))
      .catch((error) => (submitBtn.innerHTML = "Error ❌"));
  };

  form.addEventListener("submit", onSubmit);
</script>
