---
import { Icon } from "astro-icon";
---

<footer class="relative w-full overflow-hidden bg-gray-500/50">
  <div class="block px-6 py-10 mx-auto max-w-7xl">
    <p class="font-semibold text-center text-white">
      Desarrollado por Daniel Serrano Cobos desde Madrid con mucho <Icon
        name="mdi:heart"
        size={20}
        class="inline"
      />
    </p>
  </div>
</footer>
