---
import avatarImage from "/img/avatar.png";
import { Icon } from "astro-icon";
---

<header class="h-screen w-full">
  <div
    class="max-w-screen-lg mx-auto flex flex-col items-center justify-center h-full px-4 md:flex-row"
  >
    <div class="flex flex-col justify-center h-full text-center">
      <h2 class="text-4xl sm:text-7xl font-bold text-gray-500">
        Desarrollador <br /> Full Stack
      </h2>
      <p class="text-gray-500 py-4 max-w-md font-bold text-xl">
        Me gusta desarrollar aplicaciones web usando tecnologías como React,
        Astro, ExpressJS y MongoDB.
      </p>
      <div class="mx-auto w-2/3 md:w-full flex justify-center">
        <a
          href="#portfolio"
          class="group text-white w-fit px-6 py-3 my-2 flex items-center rounded-md bg-gradient-to-r from-gray-500 to-gray-600 cursor-pointer"
        >
          Portafolio
          <span class="group-hover:rotate-90 duration-300">
            <Icon name="dashicons:arrow-right-alt2" size={25} class="ml-1" />
          </span>
        </a>
      </div>
    </div>
    <div>
      <img
        src={avatarImage}
        alt="Avatar de Daniel Serrano Cobos"
        class="rounded-full pb-5 mx-auto w-2/3 md:w-full"
      />
    </div>
  </div>
</header>
