---
import { Icon } from "astro-icon";
---

<div class="hidden lg:flex flex-col top-[35%] left-0 fixed">
  <ul>
    <li
      class="flex justify-between items-center w-40 h-14 px-4 ml-[-100px] hover:ml-[-10px] hover:rounded-md duration-300 bg-gray-500/50 rounded-tr-md"
    >
      <a
        href="https://github.com/dserranoc"
        target="_blank"
        rel="nofollow noreferrer noopener"
        class="flex justify-between items-center w-full text-white"
        >GitHub <Icon name="akar-icons:github-fill" size={30} />
      </a>
    </li>
    <li
      class="flex justify-between items-center w-40 h-14 px-4 ml-[-100px] hover:ml-[-10px] hover:rounded-md duration-300 bg-gray-500/50"
    >
      <a
        href="https://www.linkedin.com/in/daniel-serrano-cobos/"
        target="_blank"
        rel="nofollow noreferrer noopener"
        class="flex justify-between items-center w-full text-white"
        >LinkedIn <Icon name="bi:linkedin" size={30} />
      </a>
    </li>
    <li
      class="flex justify-between items-center w-40 h-14 px-4 ml-[-100px] hover:ml-[-10px] hover:rounded-md duration-300 bg-gray-500/50 rounded-br-md"
    >
      <a
        href="mailto:d.serranoc@outlook.com"
        class="flex justify-between items-center w-full text-white"
        >Email <Icon name="carbon:email" size={30} />
      </a>
    </li>
  </ul>
</div>
